mat-card{
    background-color: #0d6efd;
    padding: 2% 1% 1% 1%;
}
::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
    background-color: #fff;
}
.btn-warning.align-middle{
    width: 80%;
    height: 75%;
}
